In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from scipy.stats import levene, ttest_ind, pearsonr
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, ConfusionMatrixDisplay, plot_confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
import math
from scipy import stats
import numpy as np
import re
import os
import pandas as pd
import requests
import seaborn as sns
import statsmodels.api as sm
import warnings
import wrangle as w
import re
warnings.filterwarnings("ignore")

In [2]:
sns.set(rc={'figure.figsize':(16,9)})

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
df=w.get_explore_data()

In [5]:
df=w.get_contest_data(df)

In [6]:
df.head(50)

,region,elevation,lat,lon,startdate,potential_evap,precip,barometric_pressure,all_atmos_precip,relative_humidity,sea_level_press,mean_temp,height_10_mb,height_100_mb,height_500_mb,height_850_mb,zonal_wind_250mb,zonal_wind_925mb,long_wind_250mb,long_wind_925mb,elevation_range,region_bins
0,BSh,200,0.0,0.833333,2014-09-01,237.00,94.31,98644.97,42.45,81.72,101352.08,28.744480,31246.63,16666.81,5899.66,1535.52,-2.56,-5.22,-3.52,4.41,bottom_low,Dry
1,BSh,200,0.0,0.833333,2014-09-02,228.90,100.85,98686.80,42.66,82.56,101396.02,28.370585,31244.78,16667.31,5901.03,1538.00,-2.39,-5.20,-4.49,3.74,bottom_low,Dry
2,BSh,200,0.0,0.833333,2014-09-03,220.69,101.25,98712.85,43.23,83.29,101429.25,28.133059,31239.27,16668.39,5902.18,1540.32,-2.76,-5.00,-5.44,3.40,bottom_low,Dry
3,BSh,200,0.0,0.833333,2014-09-04,225.28,101.90,98711.70,43.11,83.26,101440.85,28.256798,31232.86,16667.39,5903.07,1541.10,-3.00,-4.61,-5.76,3.29,bottom_low,Dry
4,BSh,200,0.0,0.833333,2014-09-05,237.24,82.95,98686.46,42.98,82.50,101419.53,28.372353,31226.16,16665.65,5903.36,1539.73,-3.40,-4.25,-6.09,3.27,bottom_low,Dry
5,BSh,200,0.0,0.833333,2014-09-06,237.87,79.11,98649.75,42.98,82.46,101380.35,28.523149,31222.25,16664.20,5901.94,1536.71,-3.71,-4.00,-6.02,3.14,bottom_low,Dry
6,BSh,200,0.0,0.833333,2014-09-07,236.36,81.54,98619.14,43.28,82.68,101349.89,28.451247,31216.90,16665.01,5900.75,1534.26,-3.47,-3.99,-5.38,2.92,bottom_low,Dry
7,BSh,200,0.0,0.833333,2014-09-08,233.36,87.87,98609.42,44.12,83.11,101335.59,28.313029,31210.24,16667.35,5901.17,1533.13,-3.24,-4.02,-4.99,2.71,bottom_low,Dry
8,BSh,200,0.0,0.833333,2014-09-09,233.82,96.14,98625.38,44.46,83.35,101342.69,28.123519,31200.53,16668.39,5902.21,1533.40,-2.73,-4.26,-5.51,2.38,bottom_low,Dry
9,BSh,200,0.0,0.833333,2014-09-10,229.74,96.13,98651.15,44.37,83.54,101365.05,27.885300,31188.35,16665.66,5901.96,1534.67,-1.83,-4.38,-6.40,1.84,bottom_low,Dry
10,BSh,200,0.0,0.833333,2014-09-11,220.59,97.86,98696.68,44.19,83.99,101402.90,27.536372,31178.10,16661.72,5900.73,1536.51,-0.66,-4.49,-7.01,1.24,bottom_low,Dry
11,BSh,200,0.0,0.833333,2014-09-12,208.32,98.12,98742.46,44.29,84.47,101447.93,27.231101,31173.73,16659.38,5899.88,1539.07,1.08,-4.61,-6.43,0.68,bottom_low,Dry
12,BSh,200,0.0,0.833333,2014-09-13,198.76,98.15,98757.76,44.59,85.42,101469.01,26.897838,31169.30,16657.77,5898.28,1539.96,3.23,-4.68,-5.97,0.59,bottom_low,Dry
13,BSh,200,0.0,0.833333,2014-09-14,196.75,81.58,98749.90,44.37,85.43,101464.96,26.938685,31162.54,16656.94,5896.61,1539.36,4.77,-4.51,-6.19,0.67,bottom_low,Dry
14,BSh,200,0.0,0.833333,2014-09-15,195.16,62.01,98717.30,44.02,85.31,101435.21,27.102841,31153.32,16656.48,5894.32,1537.00,5.43,-4.24,-6.90,0.71,bottom_low,Dry
15,BSh,200,0.0,0.833333,2014-09-16,195.87,55.46,98678.63,43.35,84.83,101398.52,27.140341,31147.39,16654.16,5890.43,1533.88,5.30,-4.08,-6.18,0.73,bottom_low,Dry
16,BSh,200,0.0,0.833333,2014-09-17,197.96,55.68,98636.36,42.40,84.24,101359.80,27.101159,31147.79,16651.11,5886.65,1530.31,5.81,-4.02,-5.22,0.77,bottom_low,Dry
17,BSh,200,0.0,0.833333,2014-09-18,201.64,53.94,98602.81,41.58,83.77,101323.58,27.079131,31148.96,16648.91,5883.60,1527.17,6.62,-3.92,-4.67,0.82,bottom_low,Dry
18,BSh,200,0.0,0.833333,2014-09-19,201.59,53.94,98604.83,41.13,83.67,101319.92,27.084247,31153.07,16648.75,5883.02,1527.05,7.48,-3.88,-4.26,0.99,bottom_low,Dry
19,BSh,200,0.0,0.833333,2014-09-20,204.63,58.25,98643.03,40.60,83.41,101352.20,26.855093,31155.53,16648.07,5884.32,1529.67,8.48,-3.90,-3.95,0.69,bottom_low,Dry
20,BSh,200,0.0,0.833333,2014-09-21,216.39,63.28,98698.57,39.09,82.36,101409.01,26.478819,31153.54,16644.53,5885.70,1533.32,9.77,-4.09,-3.69,0.40,bottom_low,Dry
21,BSh,200,0.0,0.833333,2014-09-22,228.88,56.04,98688.88,37.37,81.08,101412.88,26.327551,31148.73,16637.70,5883.72,1532.66,11.82,-4.04,-3.79,0.77,bottom_low,Dry
22,BSh,200,0.0,0.833333,2014-09-23,230.29,47.77,98635.95,36.17,80.51,101366.36,26.327261,31146.56,16628.76,5879.05,1529.20,13.82,-3.51,-4.27,1.40,bottom_low,Dry
23,BSh,200,0.0,0.833333,2014-09-24,232.52,47.77,98603.93,35.35,80.40,101330.27,26.414309,31147.63,16621.35,5877.00,1526.75,13.84,-3.20,-4.10,1.82,bottom_low,Dry
24,BSh,200,0.0,0.833333,2014-09-25,238.10,46.11,98581.96,34.66,80.02,101312.28,26.559593,31147.03,16618.10,5878.03,1526.06,13.08,-3.01,-3.60,2.34,bottom_low,Dry
25,BSh,200,0.0,0.833333,2014-09-26,246.83,45.85,98543.68,34.14,79.71,101283.05,26.712663,31139.12,16615.46,5878.63,1524.16,12.17,-2.98,-3.98,2.87,bottom_low,Dry
26,BSh,200,0.0,0.833333,2014-09-27,265.05,45.82,98514.00,33.31,78.66,101253.36,27.066915,31129.64,16613.23,5879.98,1522.34,10.95,-2.82,-4.41,3.55,bottom_low,Dry
27,BSh,200,0.0,0.833333,2014-09-28,272.41,29.65,98503.37,32.48,77.34,101239.24,27.292614,31122.90,16610.27,5881.12,1521.92,10.51,-2.67,-4.41,4.16,bottom_low,Dry
28,BSh,200,0.0,0.833333,2014-09-29,271.33,12.95,98488.12,32.13,77.22,101233.95,27.400643,31117.98,16604.31,5880.20,1521.86,11.27,-2.66,-3.40,4.64,bottom_low,Dry
29,BSh,200,0.0,0.833333,2014-09-30,283.48,12.99,98468.08,31.89,76.77,101202.00,27.275715,31113.51,16599.18,5878.78,1520.04,12.95,-2.38,-3.37,5.29,bottom_low,Dry
30,BSh,200,0.0,0.833333,2014-10-01,295.56,12.37,98536.06,30.35,74.33,101254.96,26.835656,31108.91,16595.50,5878.41,1522.94,13.76,-2.24,-3.87,4.61,bottom_low,Dry
31,BSh,200,0.0,0.833333,2014-10-02,296.27,12.04,98610.62,28.51,71.88,101332.29,26.330109,31101.88,16594.77,5880.28,1527.78,13.54,-2.24,-4.03,4.23,bottom_low,Dry
32,BSh,200,0.0,0.833333,2014-10-03,296.27,12.04,98642.46,26.47,70.52,101376.16,25.880598,31089.40,16593.67,5880.70,1529.62,12.78,-2.21,-4.38,3.92,bottom_low,Dry
33,BSh,200,0.0,0.833333,2014-10-04,302.29,7.72,98618.51,24.70,69.40,101366.56,25.761126,31072.78,16590.98,5879.42,1528.03,11.86,-2.13,-4.68,4.28,bottom_low,Dry
34,BSh,200,0.0,0.833333,2014-10-05,297.77,0.18,98580.09,24.39,69.32,101320.38,26.013641,31062.77,16589.39,5876.90,1524.77,11.56,-1.94,-4.52,4.73,bottom_low,Dry
35,BSh,200,0.0,0.833333,2014-10-06,284.35,0.56,98596.76,25.03,70.50,101326.88,25.975972,31059.80,16588.26,5875.57,1525.27,11.22,-2.17,-3.76,4.39,bottom_low,Dry
36,BSh,200,0.0,0.833333,2014-10-07,274.58,6.23,98627.64,25.83,71.41,101359.87,25.741905,31058.74,16588.82,5875.15,1526.61,10.75,-2.72,-2.31,3.92,bottom_low,Dry
37,BSh,200,0.0,0.833333,2014-10-08,263.68,7.96,98638.73,26.66,72.46,101374.92,25.439595,31054.58,16590.29,5872.09,1526.29,11.45,-3.12,-1.19,3.55,bottom_low,Dry
38,BSh,200,0.0,0.833333,2014-10-09,251.84,10.98,98655.17,27.56,73.25,101383.72,25.188147,31048.26,16588.55,5868.44,1525.71,12.63,-3.47,-1.07,3.10,bottom_low,Dry
39,BSh,200,0.0,0.833333,2014-10-10,239.36,10.98,98690.30,28.12,73.91,101411.72,24.826247,31044.92,16586.13,5866.26,1526.96,14.59,-3.41,-0.09,2.55,bottom_low,Dry
40,BSh,200,0.0,0.833333,2014-10-11,226.89,10.98,98739.95,27.86,74.04,101463.82,24.443392,31039.92,16584.63,5866.31,1529.96,15.67,-3.21,-0.15,1.75,bottom_low,Dry
41,BSh,200,0.0,0.833333,2014-10-12,228.63,10.98,98791.48,26.92,73.71,101516.82,24.297525,31034.90,16585.86,5869.32,1533.46,15.20,-3.11,-0.32,1.32,bottom_low,Dry
42,BSh,200,0.0,0.833333,2014-10-13,237.68,10.91,98824.52,25.62,71.79,101545.62,24.082077,31030.57,16588.28,5872.91,1535.35,14.17,-3.06,-0.40,1.24,bottom_low,Dry
43,BSh,200,0.0,0.833333,2014-10-14,233.77,10.87,98839.44,24.52,71.02,101572.99,24.077069,31026.38,16588.14,5874.86,1536.45,12.92,-3.31,-1.01,1.28,bottom_low,Dry
44,BSh,200,0.0,0.833333,2014-10-15,225.43,10.87,98800.29,25.24,73.16,101532.11,24.396505,31022.24,16585.78,5875.60,1534.23,12.90,-3.38,-1.04,2.33,bottom_low,Dry
45,BSh,200,0.0,0.833333,2014-10-16,217.21,10.87,98794.42,26.61,75.60,101516.98,24.672677,31017.82,16582.90,5874.89,1533.89,13.81,-3.56,-1.49,2.41,bottom_low,Dry
46,BSh,200,0.0,0.833333,2014-10-17,208.81,10.87,98805.33,27.75,77.05,101528.05,24.814931,31012.22,16577.70,5871.93,1535.10,15.39,-3.67,-1.63,2.26,bottom_low,Dry
47,BSh,200,0.0,0.833333,2014-10-18,199.79,10.98,98861.83,28.62,77.85,101571.89,24.608583,31012.53,16571.59,5869.37,1538.06,16.42,-3.94,-2.10,1.78,bottom_low,Dry
48,BSh,200,0.0,0.833333,2014-10-19,203.79,19.03,98936.60,28.22,77.34,101653.56,24.003215,31014.63,16564.07,5868.49,1542.43,17.03,-4.06,-3.15,1.21,bottom_low,Dry
49,BSh,200,0.0,0.833333,2014-10-20,216.33,18.65,98988.16,27.11,75.85,101709.35,23.671313,31013.68,16560.39,5870.19,1545.38,17.73,-4.02,-3.57,1.59,bottom_low,Dry

In [7]:
def split_data(df, test_size=0.15):
    '''
    Takes in a data frame and the train size
    It returns train, validate , and test data frames
    with validate being 0.05 bigger than test and train has the rest of the data.
    '''
    train, test = train_test_split(df, test_size = test_size , random_state=27)
    train, validate = train_test_split(train, test_size = (test_size + 0.05)/(1-test_size), random_state=27)
    
    return train, validate, test

In [8]:
train, validate, test =split_data(df, test_size=0.15)

In [9]:
train.head()

,region,elevation,lat,lon,startdate,potential_evap,precip,barometric_pressure,all_atmos_precip,relative_humidity,sea_level_press,mean_temp,height_10_mb,height_100_mb,height_500_mb,height_850_mb,zonal_wind_250mb,zonal_wind_925mb,long_wind_250mb,long_wind_925mb,elevation_range,region_bins
116277,BSk,1800,0.454545,0.300000,2014-10-19,294.86,0.03,83362.52,8.53,28.94,101443.38,16.680867,30825.95,16475.47,5796.30,1504.26,18.22,-0.87,3.46,2.04,high,Dry
237629,Csb,1100,0.727273,0.066667,2014-10-25,127.70,63.74,89156.29,16.71,83.14,101841.63,5.987106,30801.60,16340.47,5689.14,1504.33,24.22,1.52,1.08,3.10,mid,Temperate
272599,BSk,800,0.772727,0.700000,2016-06-29,481.48,41.43,89665.38,22.36,54.72,101003.07,21.549640,31605.85,16624.04,5828.97,1492.70,23.68,-0.08,2.35,1.04,top_low,Dry
205713,Dfb,2000,0.636364,0.500000,2015-06-30,453.35,24.78,77957.43,17.11,47.80,101361.57,19.173942,31576.02,16662.35,5875.87,1505.58,15.35,0.50,5.52,1.09,high,Continental
120041,BSk,1900,0.454545,0.466667,2015-02-05,135.47,0.00,81613.28,6.06,62.50,102053.60,6.862285,30715.39,16357.43,5755.62,1535.91,19.55,0.42,-10.67,0.27,high,Dry

# Getting mean_temp per unique lat and lon by region

Here is a step-by-step explanation of this code:

df_BSh = df[df['region'] == 'BSh']: This line filters the dataframe to only include the rows where the 'region' column has the value 'BSh'.

grouped = df_BSh.groupby(['lat', 'lon'], as_index=False): This line groups the filtered dataframe by the unique values of the 'lat' and 'lon' columns. The as_index=False argument ensures that the resulting groups are not used as the index of the grouped dataframe.

mean_temps = []: This line creates an empty list that will be used to store the mean of the 'mean_temp' column for each group.

for name, group in grouped:: This line starts a for loop that iterates through the groups generated in step 2. For each iteration, name is a tuple representing the values of 'lat' and 'lon' for the current group, and group is a dataframe representing the rows in df_BSh that belong to the current group.

mean_temp = group['mean_temp'].mean(): This line calculates the mean of the 'mean_temp' column for the current group.

mean_temps.append(mean_temp): This line adds the mean from step 5 to the mean_temps list.

`mean_temp_mean = sum(mean_temps)/len(mean_temps)

In [10]:
#region BSh
df_BSh = train[train['region'] == 'BSh']
grouped = df_BSh.groupby(['lat', 'lon'], as_index=False)
mean_temps = []
for name, group in grouped:
    mean_temp = group['mean_temp'].mean()
    mean_temps.append(mean_temp)

mean_temp_mean = sum(mean_temps)/len(mean_temps)

# the average for this region 
mean_temp_mean

# the average for unique combos of at and lon in that region
mean_temps

[23.274079372633,
 20.57022143744541,
 20.562598291862134,
 19.097334528571427,
 19.384368690032623,
 23.074148924504282,
 19.90265784524737]

In [11]:
#region BSk
df_BSk = train[train['region'] == 'BSk']
grouped = df_BSk.groupby(['lat', 'lon'], as_index=False)
mean_temps = []
for name, group in grouped:
    mean_temp = group['mean_temp'].mean()
    mean_temps.append(mean_temp)

mean_temp_mean = sum(mean_temps)/len(mean_temps)

# the average for this region 
mean_temp_mean

# the average for unique combos of at and lon in that region
mean_temps

[16.88129937208894,
 18.267491460144353,
 18.761438535530658,
 16.6713670526245,
 16.251226194454752,
 16.53420323982009,
 18.6418384650253,
 18.734759337156287,
 18.43215572974242,
 16.733494858102507,
 12.104758873656461,
 14.984315071032787,
 16.372694936197547,
 16.99090191191188,
 17.557819425384935,
 17.651061911667355,
 20.173177107006435,
 9.365488510410872,
 10.269400671162845,
 13.94727256350001,
 12.851557975821429,
 13.792448133728408,
 15.501869116308475,
 15.802579858311677,
 15.882254682466248,
 16.62714866306513,
 17.044997234232607,
 15.495972224355173,
 16.616737457583515,
 19.006109172734906,
 14.42957177645568,
 12.052208521745829,
 12.666564884756465,
 11.26474445742251,
 9.56461570088889,
 13.619188131859968,
 12.252133890943387,
 13.062565914523597,
 14.277500231204122,
 15.079336754989376,
 14.793076006572965,
 16.02210009112064,
 17.474038764571137,
 13.84466437181877,
 17.573137553348023,
 13.513061882233265,
 11.589746087472527,
 13.173499885113685,
 10.951090732345763,
 10.123247399936442,
 10.449687672585773,
 9.261200206983439,
 12.332545017054509,
 13.93476441816217,
 14.519737246704649,
 14.793983059388532,
 15.83682330672824,
 16.79677385953658,
 16.43185767341808,
 16.481535743170955,
 12.776197688887057,
 13.444600048607876,
 12.741191905223621,
 11.958040119006455,
 5.942704128727854,
 7.383365716558707,
 10.981078829091494,
 12.767087547121598,
 14.31220183407408,
 14.521393139657905,
 12.054587899204964,
 12.1953403618707,
 10.995941634729162,
 11.22943221765376,
 11.627477656297192,
 10.350832490114348,
 5.15574104617137,
 9.338534229972396,
 12.385256126724796,
 12.911269707790012,
 12.881520949658531,
 13.114486051234781,
 12.404880250943398,
 10.224980446616847,
 10.56013203936695,
 9.448073998507272,
 10.263699332557238,
 12.002276199010334,
 9.408066802466815,
 10.127333013872653,
 10.881791125419147,
 10.181290992867234,
 7.236954506525642,
 10.563221031991471,
 11.154209947555554,
 11.893392690373684,
 12.442484787099787,
 10.25375299982391,
 8.812276786311154,
 12.624853942734928,
 9.087833871176727,
 8.051914675405918,
 9.834103610048214,
 10.616150000171777,
 10.905219567882096,
 11.563220049308203,
 11.019351437761008,
 10.759525105214886,
 10.002721137376385,
 9.03282545461024,
 8.606423160090353,
 11.405745889516968,
 5.709400091182983,
 8.338778808848229,
 10.048741859823663,
 9.934468419075504,
 10.955931263953188,
 8.662779626719214,
 8.70874769185996,
 9.084822551353811,
 8.277562374762992,
 8.548406987490756,
 9.518535465878399,
 6.125125914637165,
 7.0547393106823995,
 6.771507385543155,
 8.766865760983125,
 9.876651546093163,
 9.685735556687103,
 8.049361253206971,
 8.395163853722563,
 8.78353325808842,
 9.844539485474007,
 8.877145458130078,
 6.852761138786643,
 9.116458957833673,
 7.977662410977361,
 7.813438067741519,
 8.604252562971192,
 9.021539069152213,
 9.542221847401239,
 8.086775438762785,
 6.9192594180085045,
 7.705470846110422,
 8.721263067063962,
 8.650333905216893,
 9.226769582188165,
 9.129514211524414,
 9.031558329290458,
 6.733529005502154,
 8.602513248695468,
 8.86257493353478,
 8.241581520266246,
 8.749720777776371,
 8.961849896402493,
 8.723641384127152,
 8.477417289591587,
 12.706283828454547,
 7.399980442426636,
 8.278751985903156,
 9.404065447109701,
 9.810145199079402,
 9.344201496799572,
 9.691226905940162,
 9.25232487736418,
 8.042120216188023,
 12.069932584069196,
 12.40044359110721,
 7.959709483761605,
 6.841938597989386,
 8.861840889409189,
 9.129435880489362,
 9.518060206210745,
 9.20029969347415,
 8.967701299065396,
 7.7196621397721525,
 7.319882024061573,
 7.76099790810101,
 7.995455878932127,
 8.179984284549793,
 8.181219377599168,
 8.106878807383648,
 8.160934531147467,
 7.427392188097103,
 7.559558996458417,
 6.430090665372767,
 6.485074926835396,
 6.1421211415268795,
 6.386034749309864,
 6.4057937377707015,
 5.616121840166319]

In [12]:
# region BWh
df_BWh = train[train['region'] == 'BWh']
grouped = df_BWh.groupby(['lat', 'lon'], as_index=False)
mean_temps = []
for name, group in grouped:
    mean_temp = group['mean_temp'].mean()
    mean_temps.append(mean_temp)

mean_temp_mean = sum(mean_temps)/len(mean_temps)

# the average for this region 
mean_temp_mean

# the average for unique combos of at and lon in that region
mean_temps

[16.580615000310488,
 19.011646551705756,
 24.76306292008601,
 21.833065109482693,
 24.72341727593939,
 24.585600268646807,
 25.016378134404423,
 23.673207858414646,
 23.5449830300165,
 22.951940477189037,
 21.132944609613375,
 20.850159873302427,
 19.535371271653776]

In [13]:
# region BWk 
df_BWk = train[train['region'] == 'BWk']
grouped = df_BWk.groupby(['lat', 'lon'], as_index=False)
mean_temps = []
for name, group in grouped:
    mean_temp = group['mean_temp'].mean()
    mean_temps.append(mean_temp)

mean_temp_mean = sum(mean_temps)/len(mean_temps)

# the average for this region 
mean_temp_mean

# the average for unique combos of at and lon in that region
mean_temps

[17.314826683930605,
 17.294600380525317,
 17.0636548509833,
 17.538366996237794,
 15.855980507630797,
 20.94252223641485,
 17.08768045041528,
 18.725890345401773,
 19.576159109646046,
 21.08596596015288,
 13.151852437293751,
 17.138661015838633,
 15.959834154799163,
 12.389791644616313,
 12.589145378632479,
 13.38159966806143,
 13.101089485679232,
 11.056627549172132,
 9.07655500641478]

In [14]:
# region Cfa
df_Cfa = train[train['region'] == 'Cfa']
grouped = df_Cfa.groupby(['lat', 'lon'], as_index=False)
mean_temps = []
for name, group in grouped:
    mean_temp = group['mean_temp'].mean()
    mean_temps.append(mean_temp)

mean_temp_mean = sum(mean_temps)/len(mean_temps)

# the average for this region 
mean_temp_mean

# the average for unique combos of at and lon in that region
mean_temps

[23.188255424910054,
 23.345404557804557,
 22.609616018023555,
 22.19631665290702,
 22.94123926876571,
 22.465552967442665,
 21.73791237457271,
 21.52641685776972,
 21.742060527934974,
 20.535597926148792,
 20.100786999928424,
 20.11332475178926,
 20.670133907486196,
 21.10581552792662,
 21.416281770492876,
 21.205891712046164,
 19.133693903834427,
 19.137910739035405,
 19.645175062081265,
 20.24760714841249,
 20.39824802048147,
 20.041989866694323,
 19.98463978296024,
 18.824624569750014,
 18.76829010297858,
 19.34729044302597,
 19.358425455312123,
 19.638151076646214,
 19.35105286693103,
 18.330551763546207,
 18.214012123944016,
 19.460989293995656,
 19.541982000210314,
 18.82507141532097,
 19.03446464615284,
 17.7119841945133,
 17.65773247136653,
 17.451531728551558,
 17.695155210656527,
 17.79635854652857,
 16.23120804489959,
 16.29799874017464,
 16.820007352454912,
 16.755337741766805,
 17.090010377247395,
 17.448741474028566,
 15.895533148349035,
 16.05340936784849,
 17.038404147589524,
 16.487860563014593,
 16.649629996506214,
 14.853645516262493,
 15.208012368487129,
 15.518302591728391,
 16.22968661538262,
 15.301366147149905,
 15.5304043033648,
 13.656808358287266,
 13.79258323012397,
 14.488091156396923,
 14.903899015114723,
 14.778868536527126,
 14.470110643989498,
 12.505426978449792,
 12.55444714157447,
 13.199099904762887,
 13.631677931432106,
 13.801401759260415,
 13.13521798159663,
 13.623637797029966,
 12.815014384629071]

In [15]:
# region Cfb
df_Cfb = train[train['region'] == 'Cfb']
grouped = df_Cfb.groupby(['lat', 'lon'], as_index=False)
mean_temps = []
for name, group in grouped:
    mean_temp = group['mean_temp'].mean()
    mean_temps.append(mean_temp)

mean_temp_mean = sum(mean_temps)/len(mean_temps)

# the average for this region 
mean_temp_mean

# the average for unique combos of at and lon in that region
mean_temps

[11.532037533943834,
 10.209679076137135,
 9.955810924964592,
 11.978660651637739,
 11.324809793790491,
 10.338300022046846]

In [16]:
# region Csa
df_Csa = train[train['region'] == 'Csa']
grouped = df_Csa.groupby(['lat', 'lon'], as_index=False)
mean_temps = []
for name, group in grouped:
    mean_temp = group['mean_temp'].mean()
    mean_temps.append(mean_temp)

mean_temp_mean = sum(mean_temps)/len(mean_temps)

# the average for this region 
mean_temp_mean

# the average for unique combos of at and lon in that region
mean_temps

[17.775937622724282,
 21.07584791201924,
 19.33228408009522,
 15.32769547510892,
 18.20154554160332,
 16.22890700320382,
 17.28355426627401,
 16.98044400521383,
 12.358135573921945,
 12.503545650139229,
 11.894876565522441,
 11.643503082779684,
 12.913108130597914]

In [17]:
# region Csb
df_Csb = train[train['region'] == 'Csb']
grouped = df_Csb.groupby(['lat', 'lon'], as_index=False)
mean_temps = []
for name, group in grouped:
    mean_temp = group['mean_temp'].mean()
    mean_temps.append(mean_temp)

mean_temp_mean = sum(mean_temps)/len(mean_temps)

# the average for this region 
mean_temp_mean

# the average for unique combos of at and lon in that region
mean_temps

[13.762092284006519,
 14.220950733628634,
 18.26982775333335,
 16.682121011904545,
 11.974696947884862,
 15.242564254877594,
 17.515965530089947,
 15.389701514479672,
 13.214855957918575,
 12.387247894045549,
 9.267423246083146,
 14.34603153485131,
 15.948318797335363,
 10.67169961642651,
 11.332917096184422,
 16.528354374715754,
 11.25711807944577,
 11.222450226172562,
 10.26693465581653,
 12.46565387847176,
 10.62212853763002,
 10.169665133748955,
 11.500272175228998,
 11.980687754803,
 10.103563733321797,
 9.142237954689518,
 8.97883955257452,
 12.694990582957317,
 12.581732849192308,
 8.058986878401278,
 7.0292749215952925,
 12.506281630117408,
 12.236863015336903,
 8.459246163693473,
 8.241870976534045,
 7.797769462314894,
 12.487503223768247,
 13.6831681821928,
 10.49841845583879,
 11.193176553451936,
 9.755512972742622,
 8.216121972533188,
 7.391586473676147,
 7.354976550037111,
 16.101300439603456,
 11.952877277703003,
 11.181276707220752,
 9.904875041921159,
 9.36440877567261,
 12.13362168910081,
 10.082693015976979,
 8.015365494427968,
 11.848025782217933,
 10.83020140806911,
 9.996832550364193,
 10.6375752288781]

In [18]:
# region Dfa
df_Dfa = train[train['region'] == 'Dfa']
grouped = df_Dfa.groupby(['lat', 'lon'], as_index=False)
mean_temps = []
for name, group in grouped:
    mean_temp = group['mean_temp'].mean()
    mean_temps.append(mean_temp)

mean_temp_mean = sum(mean_temps)/len(mean_temps)

# the average for this region 
mean_temp_mean

# the average for unique combos of at and lon in that region
mean_temps

[10.720203442383026,
 11.936884302553713,
 12.321940019338463,
 12.183890980149364,
 12.258861742262594,
 12.503936300181241,
 12.75774662635204,
 10.685652348271999,
 10.826341977801306,
 11.024053620776597,
 11.607564140217653,
 11.79744318498745,
 11.929454150909475,
 9.509291103819917,
 10.01635787780321,
 10.101419126411258,
 10.01581392612897,
 10.278712565911253,
 10.767278502808514,
 9.946842158357152,
 10.494259352600002,
 9.94601435292291,
 10.206602060187885,
 9.548257703078221,
 8.86352718034426,
 8.990869176995721,
 8.88921277055602,
 9.070492849939953,
 8.839954877274518,
 9.402451318152746,
 8.004889445969432]

In [19]:
# region Dfb
df_Dfb = train[train['region'] == 'Dfb']
grouped = df_BSh.groupby(['lat', 'lon'], as_index=False)
mean_temps = []
for name, group in grouped:
    mean_temp = group['mean_temp'].mean()
    mean_temps.append(mean_temp)

mean_temp_mean = sum(mean_temps)/len(mean_temps)

# the average for this region 
mean_temp_mean

# the average for unique combos of at and lon in that region
mean_temps

[23.274079372633,
 20.57022143744541,
 20.562598291862134,
 19.097334528571427,
 19.384368690032623,
 23.074148924504282,
 19.90265784524737]

In [20]:
# region Dfc
df_Dfc = train[train['region'] == 'Dfc']
grouped = df_BSh.groupby(['lat', 'lon'], as_index=False)
mean_temps = []
for name, group in grouped:
    mean_temp = group['mean_temp'].mean()
    mean_temps.append(mean_temp)

mean_temp_mean = sum(mean_temps)/len(mean_temps)

# the average for this region 
mean_temp_mean

# the average for unique combos of at and lon in that region
mean_temps

[23.274079372633,
 20.57022143744541,
 20.562598291862134,
 19.097334528571427,
 19.384368690032623,
 23.074148924504282,
 19.90265784524737]

In [21]:
# region Dsb
df_Dsb = train[train['region'] == 'Dsb']
grouped = df_Dsb.groupby(['lat', 'lon'], as_index=False)
mean_temps = []
for name, group in grouped:
    mean_temp = group['mean_temp'].mean()
    mean_temps.append(mean_temp)

mean_temp_mean = sum(mean_temps)/len(mean_temps)

# the average for this region 
mean_temp_mean

# the average for unique combos of at and lon in that region
mean_temps

[10.319294517223371,
 9.579931324585207,
 6.789482745827373,
 8.0837581947914,
 6.40120783885042,
 8.991636946578838,
 9.416640963892485,
 10.363242666317898,
 10.556227199451296,
 9.733795643290527,
 8.403377506617202]

In [22]:
# region Dsc
df_Dsc = train[train['region'] == 'Dsc']
grouped = df_Dsc.groupby(['lat', 'lon'], as_index=False)
mean_temps = []
for name, group in grouped:
    mean_temp = group['mean_temp'].mean()
    mean_temps.append(mean_temp)

mean_temp_mean = sum(mean_temps)/len(mean_temps)

# the average for this region 
mean_temp_mean

# the average for unique combos of at and lon in that region
mean_temps

[11.64062151601853, 5.880885536063556, 6.456988234825552, 5.6085412991353065]

In [23]:
# region Dwa
df_Dwa = train[train['region'] == 'Dwa']
grouped = df_BSh.groupby(['lat', 'lon'], as_index=False)
mean_temps = []
for name, group in grouped:
    mean_temp = group['mean_temp'].mean()
    mean_temps.append(mean_temp)

mean_temp_mean = sum(mean_temps)/len(mean_temps)

# the average for this region 
mean_temp_mean

# the average for unique combos of at and lon in that region
mean_temps

[23.274079372633,
 20.57022143744541,
 20.562598291862134,
 19.097334528571427,
 19.384368690032623,
 23.074148924504282,
 19.90265784524737]

In [24]:
# region Dwb
df_Dwb = train[train['region'] == 'Dwb']
grouped = df_Dwb.groupby(['lat', 'lon'], as_index=False)
mean_temps = []
for name, group in grouped:
    mean_temp = group['mean_temp'].mean()
    mean_temps.append(mean_temp)

mean_temp_mean = sum(mean_temps)/len(mean_temps)

# the average for this region 
mean_temp_mean

# the average for unique combos of at and lon in that region
mean_temps

[8.243420470760343]